<h1>detail of building</h1>

<aside id="sideBar">
 <%= link_to "Zobrazit dnešní program", :controller => :buildings_preview, :action => :today %>

</aside>

<table id="forumTable">
  <tr>
    <td>
      id Místnosti
    </td>
    <td>
      název
    </td>
    <td>
      umístění
    </td>
    <td>
      <a> více </a>
    </td>
  </tr>

<% @rooms.each do |room| %>

      <tr>
        <td>
          <%= room.title %>
        </td>
        <td>
          <%= room.title %>
        </td>
        <td>
          <%= room.code %>
        </td>
        <td>
          <%= link_to 'zobrazit rozvrh', rooms_preview_path(:id => room.id)  %>
        </td>
      </tr>


<% end %>


</table>