<h1>lessons at this room</h1>

<table id="schedule">
  <tr>
    <td  colspan="4"></td>
    <td  colspan="4">7:00- 8:00</td>
    <td  colspan="4">8:00 - 9:00</td>
    <td colspan="4">9:00 - 10:00</td>
    <td  colspan="4">10:00 - 11:00</td>
    <td  colspan="4">11:00 - 12:00</td>
    <td  colspan="4">12:00 - 13:00</td>
    <td  colspan="4">13:00 - 14:00</td>
    <td  colspan="4">14:00 - 15:00</td>
    <td  colspan="4">15:00 - 16:00</td>
    <td  colspan="4">16:00 - 17:00</td>
    <td  colspan="4">17:00 - 18:00</td>
  </tr>
  <tr>

<%

  weekDays = ["neděle", "pondělí","úterý","středa","štvrtek","pátek","sobota"]
  #dayIndex = 1

  days = [[],[],[],[],[],[],[]]

  @lessons.each do |less|
    days[less.start_at.wday].push(less)
  end

  %>

    <%= days[1].length %>

<%

  days.each_with_index do |dayLessons, dayIndex|

  lessonsMinutes = []
  io = 1
  dayLessons.each do |lekce|

  checkMinutes = [0,0.15,0.30,0.45]
  h = 6

  checkTimes = []
  44.times do |i|
    e = i % 4
    if (e === 0)
      h += 1;
    end
   checkTimes.push(h + checkMinutes[e])
  end

  connections = []
  checkTimes.each do |hours,minutes|
    if ("#{lekce.start_at.hour}.#{lekce.start_at.min}".to_f <= "#{hours}.#{minutes}".to_f && "#{lekce.end_at.hour}.#{lekce.end_at.min}".to_f >= "#{hours}.#{minutes}".to_f )
      if ("#{lekce.start_at.hour}.#{lekce.start_at.min}".to_f == "#{hours}.#{minutes}".to_f || "#{lekce.end_at.hour}.#{lekce.end_at.min}".to_f == "#{hours}.#{minutes}".to_f )
      connections.push(io)
      else
      connections.push(io)
      end
      else
        connections.push(0)
    end
  end

  lessonsMinutes.push(connections)
  %>
  <%= connections %>
    <br>
    <%
      io += 1
end

lessonsMinutes.each do |less|
  lessonsMinutes[0].each_with_index do |l,index|
      if lessonsMinutes[0][index] == 0
        lessonsMinutes[0][index] = less[index]
      end
    end
end
  %>


<%= lessonsMinutes[0] %>

<%
  cols = []

  first = true
  ix = -1
  change = nil

  if lessonsMinutes[0] && lessonsMinutes[0][0]

  prev = lessonsMinutes[0][0]
  lessonsMinutes[0].each_with_index do |i,index|
    if (change == nil)
      change = i
    end


    if change != i  || index == lessonsMinutes[0].length - 1
      if prev == 0 && !first
        ix += 2
      end

      if index == lessonsMinutes[0].length - 1
        if !(prev == 0 && !first) && prev == 0
          ix += 3
        else
          ix += 1
        end
      end


      if first
        first = false
      if prev == 0
        ix += 1
        end
      end


      change = i
      cols.push([ix,prev])
      ix = 0
      else
        ix += 1
    end

    prev = i
  end


%>


    <td  colspan="4"><%= weekDays[dayIndex] %></td>
  <% cols.each do |col| %>
    <% if col[1] != 0 %>
      <td class="active" colspan="<%= col[0] %>"> <%= dayLessons[col[1]-1].course.title %> <br> <%= "#{dayLessons[col[1]-1].start_at.hour}:#{dayLessons[col[1]-1].start_at.min}" %> -  <%= "#{dayLessons[col[1]-1].end_at.hour}:#{dayLessons[col[1]-1].end_at.min}"  %> </td>
    <% else %>
            <td  colspan="<%= col[0] %>">  </td>
    <% end %>
  <% end %>

<% else %>


        <td  colspan="4"><%= weekDays[dayIndex] %></td>
        <td   colspan="44"> - </td>



<% end %>
  </tr>
    <% end %>
</table>


<% @lessons.each do |lesson| %>
    <div>
      <%= lesson.start_at %> <br>
      <%= lesson.end_at %> <br>
      <%= lesson.duration %> <br>
      <%= lesson.teacher.first_name %>
      <%= lesson.teacher.last_name %> <br>
      <%= lesson.course.title %>
      <br><br>

    </div>
<% end %>


<%= @lessonsCount %>