<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @assignments_student_course.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assignments_student_course.course_id %>
</p>

<%= link_to 'Edit', edit_assignments_student_course_path(@assignments_student_course) %> |
<%= link_to 'Back', assignments_student_courses_path %>
