<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @building.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @building.code %>
</p>

<p>
  <strong>Rooms:</strong>
  <% @rooms.each do |room| %>
    <p>
  <%= room.title %>
  <%= room.code %>
    <p>
  <% end %>
</p>


<%= link_to 'Edit', edit_admin_building_path(@building) %> |
<%= link_to 'Back', admin_buildings_path %>
