<p id="notice"><%= notice %></p>

<h1>Teacher Courses</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_courses.each do |teacher_course| %>
      <tr>
        <td><%= teacher_course.teacher_id %></td>
        <td><%= teacher_course.course_id %></td>
        <td><%= link_to 'Show', [:admin,teacher_course] %></td>
        <td><%= link_to 'Edit', edit_admin_teacher_course_path(teacher_course) %></td>
        <td><%= link_to 'Destroy', [:admin,teacher_course], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher Course', new_admin_teacher_course_path %>
