<!DOCTYPE html>
<html>
  <head>
    <title>Sebekvorails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <p>
    menu
    <%= link_to "Buildings", buildings_path %>
    <%= link_to "Rooms", rooms_path %>
    <%= link_to "Lessons", lessons_path %>
    <%= link_to "Teachers", teachers_path %>
    <%= link_to "Courses", courses_path %>
    <%= link_to "Teacher-Course", teacher_courses_path %>
    <%= link_to "Students", students_path %>
    <%= link_to "Students-Course", student_courses_path %>
    <hr>

  </p>

  <body>
    <%= yield %>
  </body>
</html>
